<div class="album py-5 bg-light">
  <div class="container">
    <%= form_with(url: import_sales_path, method: :post, multipart: true, class: "form-inline") do %>
      <div class="form-group mb-2">
        <%= label_tag "file", "Sale file:" %>
        <%= file_field_tag :file, class: "form-control-file" %>
      </div>

      <%= submit_tag "Import", class: "btn btn-primary mb-2" %>
    <% end %>
  </div>
</div>

<div class="container">
  <hr />
  <div class="page-header">
    <div class="float-left">
      <h2>Sales</h2>
    </div>
    <div class="float-right">
      <h5 class="text-right">Total: <%= number_to_currency(@total) %></h5>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <% if @sales.blank? %>
      <hr />
      <div>
        <p>There are no registered sales.</p>
      </div>
    <% else %>
      <h2>Sales</h2>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Purchaser Name</th>
          <th scope="col">Item Description</th>
          <th scope="col">Item Price</th>
          <th scope="col">Merchant Address</th>
          <th scope="col">Merchant Name</th>
        </tr>
        </thead>
        <tbody>
        <% @sales.each do |sale| %>
          <tr>
            <td><%= sale.purchaser.name %></td>
            <td><%= sale.item.description %></td>
            <td><%= number_to_currency(sale.item.price) %></td>
            <td><%= "#{sale.item&.merchant&.addresses&.first&.number} #{sale.item&.merchant&.addresses&.first&.street}" %></td>
            <td><%= sale.item&.merchant&.name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="pages">
        <%= will_paginate @sales, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    <% end %>
  </div>
</div>
